* {
	-webkit-user-select: none;
}

.main-content::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

.main-content::-webkit-scrollbar {
	width: 7px;
	background-color: #F5F5F5;
}

.main-content::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
	background-color: #282a35;
}

.App {
	padding: 0;
	margin: 0;
}

.jthTY {
	float: left
}

.btn-custom {
	color: #e2252b !important;
	border-color: #e2252b !important;
}

.pagination .page-item.active .page-link {
	background-color: #e2252b !important;
}

/* Loading Animation */

.center-body {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 1300px;
	height: 800px;
}

.loader-circle-11 {
	position: relative;
	width: 70px;
	height: 70px;
	transform-style: preserve-3d;
	perspective: 400px;
}

.loader-circle-11 .arc {
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	border-bottom: 5px solid #e2252b;
}

.loader-circle-11 .arc:nth-child(1) {
	animation: rotate1 1.15s linear infinite;
}

.loader-circle-11 .arc:nth-child(2) {
	animation: rotate2 1.15s linear infinite;
}

.loader-circle-11 .arc:nth-child(3) {
	animation: rotate3 1.15s linear infinite;
}

.loading .arc:nth-child(1) {
	animation-delay: -0.8s;
}

.loader-circle-11 .arc:nth-child(2) {
	animation-delay: -0.4s;
}

.loader-circle-11 .arc:nth-child(3) {
	animation-delay: 0s;
}

@keyframes rotate1 {
	from {
		transform: rotateX(35deg) rotateY(-45deg) rotateZ(0);
	}

	to {
		transform: rotateX(35deg) rotateY(-45deg) rotateZ(1turn);
	}
}

@keyframes rotate2 {
	from {
		transform: rotateX(50deg) rotateY(10deg) rotateZ(0);
	}

	to {
		transform: rotateX(50deg) rotateY(10deg) rotateZ(1turn);
	}
}

@keyframes rotate3 {
	from {
		transform: rotateX(35deg) rotateY(55deg) rotateZ(0);
	}

	to {
		transform: rotateX(35deg) rotateY(55deg) rotateZ(1turn);
	}
}

/* Login Animated Image */
.mini-content {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	width: 820px !important;
	min-height: 430px;
	height: 0px;
	background: #fff;
	border-radius: 8px;
	padding: 52px 65px 29px 92px;
	background-image: url('./media/LeftFace.png'), url('./media/RightFace.png');
	background-position: 0 100%, 100% 100%;
	background-repeat: no-repeat, no-repeat;
	background-size: 20%;
	position: relative;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	animation: mymove 3s ease-in-out infinite;
}

@keyframes mymove {
	50% {box-shadow: 10px 20px 30px black;}
  }

.text {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-align: center
}

.text p {
	font-size: 13px;
	color: #bac4d4;
	font-weight: 700
}

.input-text {
	position: relative;
	margin-top: 30px
}

input[type="text"] {
	height: 45px;
	width: 100%;
	border: none;
	border-radius: 9px;
	border: 1px solid #e0e3e9;
	padding: 0 10px;
	padding-left: 30px;
	outline: 0;
	font-size: 18px
}

input[type="password"] {
	height: 45px;
	width: 100%;
	border: none;
	border-radius: 9px;
	border: 1px solid #e0e3e9;
	padding: 0 10px;
	padding-left: 30px;
	padding-right: 27px;
	outline: 0;
	font-size: 18px
}

.fa-user1 {
	position: absolute;
	left: 10px;
	cursor: pointer;
	top: 15px
}

.fa-lock {
	position: absolute;
	left: 12px;
	top: 15px;
	cursor: pointer;
	font-size: 15px
}

.input-text .fa-eye-slash {
	position: absolute;
	right: 10px;
	top: 15px;
	font-size: 15px;
	cursor: pointer
}

.fa-eye {
	position: absolute;
	right: 10px;
	top: 15px;
	font-size: 15px;
	cursor: pointer
}

.buttons {
	margin-top: 30px;
	display: flex;
	justify-content: center;
	align-items: center
}

.buttons button {
	height: 45px;
	width: 50%;
	border: none;
	background-color: #e2252b;
	border-radius: 9px;
	font-size: 23px;
	outline: 0;
	color: #fff;
	cursor: pointer;
	transition: all 0.5s
}

.buttons button:hover {
	background-color: #b7151b
}
.warning {
	border: 1px solid red !important
}

.type_password {
	border: 1px solid red !important
}

.go3883905042 .go695645437{
    box-shadow: 0 0 0 rgba(20, 21, 21, 0.22), 0px 0px 0px rgba(20, 21, 21, 0.14);
}

.go3046353551{
	overflow: auto !important;
}